@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Righteous&family=Rubik&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: #E6F4F1;
    font-family: "Rubik", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-font {
    font-family: "Righteous", sans-serif;
}

.japanese-text {
    font-family: "BIZ UDMincho", serif;
}

/* Header */
header {
    background-color: #B3CFCD;
    color: #306A67;
}

.header-inner {
    padding: 0.25rem;
    text-align: center;
}

.header-inner a {
    text-decoration: none;
}

.header-inner a:visited {
    color: #306A67;
}

/* Homepage CSS */
.choose-game-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.choose-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.choose-hiragana {
    background-color: #78A5ff;
    border: 0.5rem solid #4F75D8;
    border-radius: 0.5rem;
}

.choose-katakana {
    background-color: #78A5ff;
    border: 0.5rem solid #4F75D8;
    border-radius: 0.5rem;
}

.select-button {
    background-color: #D1A617;
    color: #00439D;
    text-align: center;
}

.choose-game a {
    text-decoration: none;
}

.choose-game a:visited {
    color: inherit;
}

/* Footer */
footer {
    background-color: #B3CFCD;
    color: #306A67;
    margin-top: auto;
}

.footer-inner {
    padding: 1rem;
    text-align: center;
}