@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Righteous&family=Rubik&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: #E6F4F1;
    font-family: "Rubik", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-font {
    font-family: "Righteous", sans-serif;
}

.japanese-text {
    font-family: "BIZ UDMincho", serif;
}

/* Header */
header {
    background-color: #B3CFCD;
    color: #306A67;
    width: 100%;
}

.header-inner {
    padding: 0.25rem;
    text-align: center;
}

.header-inner a {
    text-decoration: none;
}

.header-inner a:visited {
    color: #306A67;
}

/* Homepage CSS */
.choose-game-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin-top: auto;
}

.choose-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.choose-game h2 {
    font-size: 2rem;
}

.choose-hiragana {
    background-color: #78A5ff;
    border: 0.5rem solid #4F75D8;
    border-radius: 0.5rem;
}

.choose-katakana {
    background-color: #78A5ff;
    border: 0.5rem solid #4F75D8;
    border-radius: 0.5rem;
}

.select-button {
    background-color: #fff;
    text-align: center;
    font-size: 1.5rem;
    border: 0.2rem solid #D1A617;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
}

.choose-game a {
    text-decoration: none;
}

.choose-game a:visited {
    color: inherit;
}

/* Learn Hiragana & Katakana */
.game-area {
    background-color: #fff;
    text-align: center;
    margin: 1rem auto;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    max-height: 100vh;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.question-container {
    margin: 0.4rem;
    border: 1px solid;
    border-radius: 0.5rem;
    aspect-ratio: 1 / 1;
}

.answers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
    padding: 0.2rem;
    aspect-ratio: 1 / 1;
}

.answer-btn {
    border: 1px solid;
    border-radius: 0.5rem;
    aspect-ratio: 1 / 1;
}

.score-container {
    padding: 0.5rem;
}

.back-to-menu {
    padding: 0.5rem;
    background-color: #78A5ff;
    border: 0.5rem solid #4F75D8;
    border-radius: 0.5rem;
    width: fit-content;
    margin: 1rem auto;
    text-align: center;
    font-size: 1.2rem;
}

.back-to-menu a {
    text-decoration: none;
}

.back-to-menu a:visited {
    color: inherit;
}

/* Footer */
footer {
    background-color: #B3CFCD;
    color: #306A67;
    margin-top: auto;
    width: 100%;
}

.footer-inner {
    padding: 1rem;
    text-align: center;
}

/* Media Queries - min-width: 280px */
@media screen and (min-width: 280px) {

    .header-inner {
        font-size: 0.75rem;
    }

    .game-area {
        width: 85%;
    }

    .game-area h2 {
        font-size: 2rem;
    }

    .question-container {
        width: 60%;
    }

    .answer-btn {
        flex-grow: 2;
        flex-basis: calc(50% - 0.2rem);
        font-size: 2rem;
    }
}

/* Media Queries - min-width: 400px */
@media screen and (min-width: 400px) {

    .header-inner {
        font-size: 1rem;
    }

    .game-area {
        width: 75%;
    }

    .score-container {
        font-size: 1.5rem;
    }

    .back-to-menu {
        font-size: 1.4rem;
    }

}

/* Media Queries - min-width: 768px */
@media screen and (min-width: 768px) {

    .header-inner {
        font-size: 1.5rem;
    }

    .game-area {
        width: 60%;
    }

    .game-area h2 {
        font-size: 2.5rem;
        padding: 1rem;
    }

    .question-container {
        width: 75%;
    }

    .answers-container {
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .answer-btn {
        flex-basis: calc(50% - 0.5rem);
        font-size: 3.5rem;
    }

    .score-container {
        font-size: 2rem;
    }

    .back-to-menu {
        font-size: 1.8rem;
    }
}

/* Media Queries - min-width: 1280px */
@media screen and (min-width: 1280px) {

    .game-area {
        width: 50%;
    }

    .game-area h2 {
        font-size: 3rem;
    }

    .question-container {
        width: 40%;
    }

    .answers-container {
        flex-wrap: nowrap;
        gap: 1rem;
        padding: 1rem;
        aspect-ratio: 4 / 1;
        width: 85%;
    }

    .answer-btn {
        flex-grow: 1;
        flex-basis: calc(100% - 0.5rem);
        font-size: 3.5rem;
    }
}

/* Media Queries - min-width: 1600px */
@media screen and (min-width: 1600px) {

    .game-area {
        margin-top: 2rem;
    }

    .game-area h2 {
        font-size: 4rem;
    }

    .back-to-menu {
        font-size: 1.8rem;
        margin-top: 2rem;
    }

    .score-container {
        font-size: 2.5rem;
    }

    .back-to-menu {
        font-size: 2.3rem;
    }
}